{% extends 'defTemplate.html.twig' %}
{% block body %}

	<div class="card bg-primary mb-3 mx-auto mt-3" style="max-width: 90%;background-image: url(Contenu/images/fond_etoile.jpg);background-size: cover;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="Contenu/productimages/{{ produit.image }}" class="card-img" alt="{{ produit.name }}">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h1 class="card-title">{{ produit.name }}</h1>
					<p class="card-text">{{ produit.description }}</p>
					<p class="card-text">Prix:
						{{ produit.price }}€</p>
					<p class="card-text">Stock:
						{{ produit.quantity }}</p>
				</div>
			</div>
		</div>
		{% if produit.quantity == 0 %}
			<div class="card-footer text-center">
				<h4 class="card-text text-danger text-uppercase">Victime de son succès !</h4>
			</div>
		{% else %}
			<div class="card-footer">
				<form action="index.php?action=addToCart&page=shop	{% if produit.cat_id == 1 %}&product=boissons
																	{% elseif produit.cat_id == 2 %}&product=biscuits
																	{% elseif produit.cat_id == 3 %}&product=fruits_sec
																	{% endif %}" method="post" class="row">
					<input type="hidden" name="id" value="{{ produit.id }}">
					<div class="form-group col-md-8">
						<label for="quantity">Quantité:</label>
						<input type="number" class="form-control" name="quantity" value="0" min="0" max="{{ produit.quantity }}">
					</div>
					<div class="col-md-4 d-flex">
						<input type="submit" class="btn btn-success mt-1 ml-auto" value="Ajouter au panier">
					</div>
				</form>
			</div>
		{% endif %}
	</div>

{% endblock %}
